.container {
    border: rgb(50, 50, 196) solid 5px;
    width: 960px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
header {
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    background-color:  rgb(50, 50, 196);
}
.word {
    border:black solid 5px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
#guesses {
    border:black solid 5px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(26, 26, 27);
    color: #fff;
    text-align: center;
    font-size: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 6px solid rgb(50, 50, 196);
}